@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');



*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:  "Lexend";
    font-weight: 600;
    
}

/* Navbar */

.navbar {
  width: 100%;
  background-color: #AFE072; /* vert clair */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline;
}

.nav-logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}